* {
    box-sizing: border-box;
}   

body {
        /* background-image: url("img/dogs.jpg");
        background: linear-gradient(whitesmoke, transparent 90%),
        white url("img/dogs.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center; */
        /* background-color: rgba(236, 232, 232, 0.904);    */
        margin: auto;
        color: rgba(31, 30, 30, 0.87);
        /* font-family: 'Lato', sans-serif; */
        /* font-weight: 300;  */
        /* font-stretch: semi-condensed; */
        /* font-style: 2.5em;     */
}

.logo {
    text-align: left;
}

.navigationbar ul {
    position: fixed;
    /* background-color: #fff !important;
    transition: background-color 200ms linear; */
    top: 0;
    width: 100%;
    background-color: white;
    color: rgb(63, 59, 52);
    list-style-type: none;
    float: inline-start;
    height: 50px;
    padding: 0px;
    margin: 0;
    text-align: justify;
    display: inline-flex;
    /* vertical-align: top; */
    text-decoration-line: none;
    border-bottom: 0.5px solid rgb(160, 158, 154);
    z-index: 10;
}

.navigationbar a {
    color:black;
}

.navigationbar a:hover {
  background: rgb(206, 195, 195);
  color: black;
}


li {
    margin: auto;
    font-size: large;
}

.titleheader {
    background-image: url(appointment2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color:white;
    font-family: Helvetica, sans-serif;
    font-weight: 900;
    font-size: 1.2em;
    text-align: left;
    color: rgb(0, 0, 0);
    margin: auto;
    padding: 160px 15px 70px;
    opacity: 0.7;
    /* border-bottom: 2px solid black; */
}

input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 80px 40px;
}

h1 {
    font-family: 'Lato', sans-serif;
    font-size: 2em;
}

h2,
h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5em;
    font-weight: 200;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1em;
}

a {
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    color: white;
    font-size: 0.9em;
}



/* FOOTER */

#footerid {
    /* border-top: 2px solid black; */
    /* color: white; */
    background-color: rgb(80, 76, 71);
    color: white;
    font-size: x-small;
    text-align: center;
    margin: 0;
    padding: 10px 20px 0;
    width: auto;
}

.column3 {
    color: white;
    font-size: medium;
    float: left;
    width: 25%;
    padding: 20px 30px 40px 40px;
    text-align: center;
}

.column3 a:hover {
    background: rgb(206, 195, 195);
    color: black;

  }

.contactmedia::after {
    content: "";
    clear: both;
    display: table;
    padding: 10px;
}

.logofooter {
    /* border-top: 2px solid black; */
    text-align: center;
    padding: 0;
    margin: 0;
}

.scroll-up {
    text-align: right;
    padding: 10px 15px;
    margin: auto;
    font-size: medium;
}

.arrow {
    margin: auto;
    padding-bottom: 15px;
    text-align: right;
}

.cr {
    font-size: medium;
    padding: 10px 0 0px;
    text-align: center;
    padding: auto;
    margin: auto;
}
