
* {
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.logo {
    text-align: left;
    padding: 20px;
}

body {
    background-color: lightcyan);
    margin: auto;
    font-family: 'Calibri, Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-style: 1.5em;
    text-align: center;
}


#primary-content {
    color:rgba(0,0,0,0.8);
    margin: 0 0 75px 0;
    padding-bottom: 100px;
    height: 750px;
    border: 0px;
    text-align: center;
    background-image: url("mountain.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center ;
    background: linear-gradient(#ffa949, transparent 60%),
    rgba(248, 168, 18, 0.918) url("mountain.jpg") no-repeat center / cover;
}

.brief {
    color:  white;
}

.paragraph1 {
    /* color: white; */
    /* background-color: rgb(118, 118, 226); */
    font-size: large;
    text-align: center;
    /* width: 100%; */
    padding: 40px 0px 200px 0px;
    margin: 60px 400px 100px 400px;
    /* height: auto; */
}

.secondary-content {
    background-color: rgb(86, 183, 228);
    overflow: auto;
    padding: 50px 20px 70px 20px;
    margin: 300px 200px 70px 200px;
    border-radius: 40px;
}

ul {
    list-style-type: none;
    list-style-position: inside;
}

li {
        margin-bottom: 7px;
}

.paragraph3 {
    padding: 15px;
}

.boxes1,
.boxes2,
.boxes3,
.boxes4 {
    overflow: auto; 
    background-color: orange;
    padding: 100px 120px;
    margin: 10px 80px 20px;
    border-radius: 20px 20px;
    background: linear-gradient(to  bottom right , rgb(101, 101, 209), transparent 70%),
    rgb(202, 162, 88);
}

.boxn1,
.boxn2 {
    width: 45.6%;
}

.boxn1 {
    float: left;
}

.boxn2 {
    float: right;
}

.column {
    flex-direction: column;
    display: wrap;
  }

.list2 {
    display: wrap;
    list-style-type: none;
    list-style-position: inside;
    font-size: x-large;
  
}

#header {
    /* background-color:lightyellow; */
    line-height: 1.5;
}

.title {
    font-size: x-large;
    padding: 10px 0 60px 0;
}

.img {
    padding: 30px 0 100px 0;
}


.main-section {
    /* background-color:lightyellow; */
    /* padding: 50px 300px; */
    padding-bottom: 10px;
}

.projects {
    padding: 150px 10px 40px;
    margin: 400px 300px 0px 300px;
}

.box5 {
    border-color: orange;
    background-color: transparent;
    border-radius: 100px 100px;
}

.bottom-content {
    background-color: rgb(86, 183, 228);
    overflow: auto;
    padding: 20px 10px 40px;
    margin: 10px 300px 0px 300px;
    border-radius: 40px 40px 0px 0;
}

.scroll-up {
    text-align: right;
}

.h4p {
    padding: 0;
    font-size: large;
}

p {
    padding: 10px;
}

.designer,
.developer {
/* .mentor { */
    width: 45.6%;
}

.designer {
    float: left;
}

.developer {
    float: center;
}

/* .mentor {
    float: right;
} */

.group:after {
    content: "";
    display: table;
    clear: both;
}

footer {
    background-color: orange;
    padding: 10px;
    /* border-top: 2px solid black; */
}
