* {
    box-sizing: border-box;
}   

body {
        /* background-image: url("img/dogs.jpg");
        background: linear-gradient(whitesmoke, transparent 90%),
        white url("img/dogs.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center; */
        /* background-color: rgba(236, 232, 232, 0.904);    */
        margin: auto;
        color: rgba(31, 30, 30, 0.87);
        /* font-family: 'Lato', sans-serif; */
        /* font-weight: 300;  */
        /* font-stretch: semi-condensed; */
        /* font-style: 2.5em;     */
}

.logo {
    text-align: left;
}

.navigationbar ul {
    position: fixed;
    /* background-color: #fff !important;
    transition: background-color 200ms linear; */
    top: 0;
    width: 100%;
    background-color: white;
    color: rgb(63, 59, 52);
    list-style-type: none;
    float: inline-start;
    height: 50px;
    padding: 0px;
    margin: 0;
    text-align: justify;
    display: inline-flex;
    /* vertical-align: top; */
    text-decoration-line: none;
    border-bottom: 0.5px solid rgb(63, 59, 52);
    z-index: 10;
}

.navigationbar a {
    color:black;
}

.navigationbar a:hover {
  background: #ddd;
  color: black;
}


li {
    margin: auto;
    font-size: large;
}

.titleheader {
    background-image: url(img/servicesimg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color:white;
    font-family: Helvetica, sans-serif;
    font-weight: 900;
    font-size: 1.2em;
    text-align: left;
    color: white;
    margin: auto;
    padding: 160px 15px 70px;
    opacity: 0.7;
    /* border-bottom: 2px solid black; */
}

#main-content {
    padding 100px;
}

h1 {
    font-family: 'Lato', sans-serif;
    font-size: 2em;
}

h2,
h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5em;
    font-weight: 200;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1em;
}

a {
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    color: white;
    font-size: 0.9em;
}

.maincontent {
    /* color: rgba(31, 30, 30, 0.87); */
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    text-align: center;
    padding: 60px 60px 0px;
    margin: auto;
    width: 90%;
    background-color: white;
}

.doggrooming {
    border-bottom: 2px solid rgba(31, 30, 30, 0.87);
    background-color: white;
    text-align: center;
    padding: 30px 0 40px;
    margin: auto;
    width: 60%;
}

.column {
    float: left;
    width: 50%;
    padding: 80px 10px 60px 90px;
    text-align: justify;
}

.column4,
.column5,
.column6 {
    width: 80%; */
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.column a {
    color: rgba(31, 30, 30, 0.87);
}

.column a:hover {
  background: rgb(206, 195, 195);
  color: black;
}

.column6 {
    margin: 80px 400px 0px 400px;
    padding: auto; 
    width: 35%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.column6 a:hover {
    background: rgb(206, 195, 195);
    color: black;
  }

.imagesdogs::after {
    content: "";
    clear: both;
    display: inline-flex;
    padding: 40px;
}

#footerid {
    /* border-top: 2px solid black; */
    /* color: white; */
    background-color: rgb(80, 76, 71);
    color: white;
    font-size: x-small;
    text-align: center;
    margin: 0;
    padding: 10px 20px 0;
    width: auto;
}

.column3 {
    color: white;
    font-size: medium;
    float: left;
    width: 25%;
    padding: 20px 30px 40px 40px;
    text-align: center;
}

.contactmedia::after {
    content: "";
    clear: both;
    display: table;
    padding: 10px;
}

.logofooter {
    /* border-top: 2px solid black; */
    text-align: center;
    padding: 0;
    margin: 0;
}

.scroll-up {
    text-align: right;
    padding: 10px 15px;
    margin: auto;
    font-size: medium;
}

.arrow {
    margin: auto;
    padding-bottom: 15px;
    text-align: right;
}

.cr {
    font-size: medium;
    padding: 10px 0 0px;
    text-align: center;
    padding: auto;
    margin: auto;
}


/* Media Queries */

@media (max-width: 1920px) {
    .main-content {
        width: 100%;
        padding: 10% 12%;
        margin: 50px 0 20px
    }
 }
 
 /* @media all () {
     .maincontent,
     .secondcontent {
        width: 100%;
        padding: 20px;
        border: none;
    }
 
    .titleheader {
        max-height: 380px;
        padding: 50px 25px 0;
        font-size: 1.3rem;
        boder: none;
    }
 
    h1 {
        font-size: 5rem;
        line-height: 1.1;
    }
     
    p {
         color: rgba(31, 30, 30, 0.87);
    }
    .main-content {
        float: none;
        width: 100%;
    } */



 }

    




